* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --text-light: rgb(225, 151, 250);
    --text-dark: rgb(124, 113, 169);
    --font-size: 0.8rem;
    --border-radius: 4px;
}

body {
    font-size: var(--font-size);
    min-height: 100vh;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1,
h2,
h3,
p {
    color: var(--text-light);
}

#title {
    margin-top: 1rem;
}

#gallery {
    margin: 1rem 0;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    width: 100%;
    gap: 0.5rem;
}

.artwork-card {
    border: 1px solid rgba(231, 181, 248, 0.534);
    border-radius: var(--border-radius);
    background-color: rgba(182, 137, 214, 0.098);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    justify-content: space-between;
    gap: 0.5rem
}

.artwork-card h2 {
    word-break: break-word;
}

.artwork-card .desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.artwork-card .image-container {
    overflow: hidden;
}

.artwork-card .image-container img,
.artwork-card .image-container {
    transition: 300ms;
}

.artwork-card .image-container:hover {
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px 1px rgba(19, 5, 29, 0.696);
}

.artwork-card .image-container:hover img {
    transform: scale(1.1);
}

.desc .tags {
    font-style: italic;
    color: var(--text-dark);
}

.desc a {
    color: inherit;
    filter: saturate(2) contrast(2);
}

.desc a:hover, .desc a:focus-within {
    filter: saturate(5) contrast(5);
}

nav {
    font-size: var(--font-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgba(91, 71, 94, 0.226);
    padding: 0.5em;
}

nav img {
    width: 3em;
    border: 1px solid rgba(231, 181, 248, 0.534);
    border-radius: var(--border-radius);
}

nav form#search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

nav form#search button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    height: 100%;
    width: auto;
}

form#search ::placeholder {
    opacity: 0.5;
    color: var(--text-dark);
}

form#search input#searchbar {
    color: var(--text-dark);
    padding: 0.25em 0.5em;
    font-size: var(--font-size);
    border: 1px solid rgba(231, 181, 248, 0.534);
    border-radius: var(--border-radius);
    background-color: rgba(112, 78, 137, 0.262);
    font-style: italic;
} 

@media screen and (min-width: 600px) {
    :root {
        --font-size: 1rem;
        --border-radius: 5px;
    }

    #gallery {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 1rem;
    }
}

@media screen and (min-width: 850px) {
    :root {
        --border-radius: 6px;
    }

    #gallery {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        max-width: 1150px;
    }
}