:root {
    /* default text size */
    --text-size: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* useful for seeing borders of elements for testing */
    /* note that it will offset sizes by a few pixels */
    /* border: 1px solid rgb(0, 255, 217); */
}

body {
    background-color: rgb(33, 25, 47);
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

img {
    /* remove the dumb little space under images */
    display: block;
    /* shrink images to their container */
    max-width: 100%;
    height: auto;
}

.card {
    background-color: rgba(97, 54, 118, 0.164);
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-top: 2px solid rgb(63, 45, 73);
    border-radius: 0;
}

/* title card */

#titlecard {
    border: none;
}

#profilepicture {
    width: 40%;
    margin: 1rem auto;
    display: block;
    border: solid;
    border-radius: 20px;
    border-color: rgb(227, 41, 221);
    border-width: 7px;
    background-color: rgb(114, 70, 110);
}

#boop-counter {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: calc(var(--text-size) * 0.8);
    color: rgba(138, 129, 142, 0.424);
    text-decoration: none;
}

.bigtext {
    color: rgb(193, 92, 236);
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    text-align: center;
}

h1.bigtext {
    font-size: calc(var(--text-size) * 3);
    margin-bottom: 1rem;
    font-weight: 700;
}

h3.bigtext {
    font-size: calc(var(--text-size) * 2);
    font-weight: 500;
    margin: 0 0;
}

#doeball-emoji {
    width: 1em;
    padding-left: 0.1em;
    display: inline;
    transform: translate(0, 0.1em);
}

/* buttons card */

#buttons {
    text-align: center;
    font-size: large;
    font-family: Helvetica, sans-serif;
    background-color: rgba(70, 38, 86, 0.164);
}

.bigbutton {
    padding: 1em;
    width: 100%;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(to right, rgb(193, 92, 236), rgb(227, 41, 221));
    color: rgb(247, 217, 249);
    font-size: 1.3rem;
    font-weight: bolder;
}

.bigbutton:hover {
    background-image: linear-gradient(to right, rgb(162, 41, 227), rgb(142, 92, 236));
}

.bigbutton:active {
    background-image: linear-gradient(to right, rgb(91, 41, 227), rgb(92, 176, 236));
}

#contact {
    /* gap between the buttons */
    margin-bottom: 15px;
}

/* round buttons with links */

#links {
    display: grid;
    justify-content: center;
    /* push the footer down */
    margin-bottom: 1rem; 
}

#links-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1.5em 0;
    width: 25rem;
}

.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
}

#itch-button {
    background-image: linear-gradient(30deg, rgb(238, 32, 128), #fa5c5c);
}

#discord-button {
    background-image: linear-gradient(45deg, #5865F2, rgb(141, 65, 207));
}

#bluesky-button {
    background-image: linear-gradient(160deg, rgb(77, 65, 213), rgb(65, 183, 207));
}

#tumblr-button {
    background-image: linear-gradient(80deg, rgb(93, 70, 105), rgb(50, 26, 105));
}

.link-icon {
    width: 65%;
    fill: rgb(247, 217, 249);
}

#tumblr-icon {
    transform: scale(0.93);
}

#bsky-icon {
    transform: scale(0.94) translate(0, 4%);
}

h4 {
    font-size: calc(var(--text-size) * 1.1);
    margin: 0.2rem;
    color: rgb(138, 129, 142);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}

#footer {
    font-family: Helvetica, sans-serif;
    font-size: calc(var(--text-size) * 0.8);
    color: rgba(138, 129, 142, 0.314);
    margin-bottom: 1rem;
    text-decoration: none;
}

#footer:hover {
    text-decoration: underline;
    color: rgba(171, 159, 177, 0.514);
}

/* for square-ish screens */
@media screen and (min-width: 800px) {

    :root {
        --text-size: 1rem;
    }

    .card {
        width: min(90%, 25rem);
        margin: 0 0 1rem 0;
        border-radius: 20px;
        border-top: none;
    }

    #titlecard {
        margin-top: 1rem;
    }
    
    #buttons {
        background-color: rgba(97, 54, 118, 0.164);
    }

    /* #links {
        padding-left: 10%;
        padding-right: 10%;
    } */
}

/* for wide screens */
@media screen and (min-width: 1300px) {
    :root {
        --text-size: 1.2rem;
    }
    
    .card {
        width: min(90%, 32rem);
    }
}