:root {
    /* default text size */
    --text-size: 0.9rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* useful for seeing borders of elements for testing */
    /* note that it will offset sizes by a few pixels */
    /* border: 1px solid rgb(0, 255, 217); */
}

body {
    background-color: rgb(25, 20, 44);
    display: flex;
    flex-direction: column;
    gap: 0;
    align-items: center;
}

img {
    /* remove the dumb little space under images */
    display: block;
    /* shrink images to their container */
    max-width: 100%;
    height: auto;
}

.card {
    background-color: rgba(97, 54, 118, 0.164);
    width: 100%;
    padding: 1rem;
    margin: 0;
    border-top: 2px solid rgb(63, 45, 73);
    border-radius: 0;
}

.card,
main {
    transition: all 350ms, height 350ms ease-in-out;
}

/* title card */

#titlecard {
    border: none;
}

#profilepicture {
    width: 40%;
    margin: 1rem auto;
    display: block;
    border: solid;
    border-radius: 20px;
    border-color: rgb(227, 41, 221);
    border-width: 7px;
    background-color: rgb(114, 70, 110);
    margin-bottom: 0.5rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 16px rgba(227, 41, 221, 0.366);
}

#profilepicture:hover {
    animation: wiggle 1s infinite;
    transform-origin: 50% 50%;
}

#profilepicture:active {
    transform: translate(0, 5%) scale(1.2, 0.9) !important;
    animation: none;
}

@keyframes wiggle {
    0% {
        transform: rotate(0) scale(1, 1);
    }

    25% {
        transform: translate(0, 2px) rotate(0.5deg) scale(1.03, 0.99)
    }

    50% {
        transform: rotate(0) scale(1, 1);
    }

    75% {
        transform: translate(0, 2px) rotate(-0.5deg) scale(1.03, 0.99)
    }
}

[hidden] {
    display: none !important;
}

#boop-counter {
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: calc(var(--text-size) * 0.8);
    color: rgba(138, 129, 142, 0.424);
    text-decoration: none;
    animation: slideBoopsDown 350ms forwards;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideBoopsDown {
    0% {
        transform: translate(0, -3em);
        height: 0;
    }

    80% {
        transform: translate(0, 0.2em);
        height: 2.4em;
    }

    100% {
        transform: translate(0, 0);
        height: 2em;
    }
}

.bigtext {
    color: rgb(193, 92, 236);
    font-family: "Helvetica", sans-serif;
    font-style: bold;
    text-align: center;
}

h1.bigtext#title {
    font-size: calc(var(--text-size) * 3);
    margin-bottom: 1rem;
    font-weight: 700;
    text-shadow: 0 0 5px rgba(193, 92, 236, 0.298);
}

h3.bigtext {
    font-size: calc(var(--text-size) * 2);
    font-weight: 500;
    margin: 0 0;
}

#doeball-emoji,
.emote {
    width: 1em;
    padding-left: 0.1em;
    display: inline;
    transform: translate(0, 0.1em);
}

.emote {
    width: 1.6em;
    transform: translate(0, -0.1em);
    position: absolute;
}

/* buttons card */

main {
    width: 100%;
    position: relative;
}

button {
    text-shadow: 0 0 5px rgba(24, 10, 69, 0.451);
}

a.email {
    color: rgb(193, 92, 236);
    text-shadow: 0 0 5px rgba(193, 92, 236, 0.411)
}

#buttons,
#contact,
#comms {
    text-align: center;
    font-size: large;
    font-family: Helvetica, sans-serif;
    background-color: rgba(70, 38, 86, 0.164);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: absolute;
    margin: 0;
}

#contact {
    transform: translateX(-100vw)
}

p {
    line-height: 1.35em;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

#comms {
    transform: translateX(100vw)
}

.example-art {
    transition: all 450ms;
    transform-origin: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 3px 3px 15px rgb(23, 0, 44);
    background-size: var(--zoom);
}

.example-art:hover {
    transform: scale(1.05, 1.05);
    background-size: calc(var(--zoom) * 1.1);
    box-shadow: 6px 6px 20px rgb(18, 11, 26);
}

#headshot {
    width: 40%;
    height: 0;
    padding-bottom: 40%;
    /* i hate this language */
    background-image: url("bloo_headshot.png");
    --zoom: 110%;
}

#halfbody {
    width: 80%;
    height: 0;
    padding-bottom: 80%;
    background-image: url("andromeda_half.png");
    --zoom: 135%;
}

#fullbody {
    width: 95%;
    height: 0;
    padding-bottom: 95%;
    background-image: url("verity_with_9_trillion_effects.png");
    --zoom: 120%;
}

.bigbutton {
    padding: 1em;
    width: 100%;
    border-radius: 18px;
    border: none;
    background-image: linear-gradient(to left, rgb(91, 41, 227), rgb(73, 95, 219), rgb(227, 41, 221), rgb(164, 92, 236));
    color: rgb(247, 217, 249);
    font-size: 1.3rem;
    font-weight: bolder;
    transition: all 280ms;
    background-size: 300%;
    background-position: 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigbutton:hover {
    transform: scale(1.02);
    background-position: 50% 0;
    border-radius: 20px;
}

.bigbutton:active {
    background-position: 100% 0;
    transform: translateY(2px) scale(0.98);
}

#palette-icon {
    width: 1.5em;
    filter: drop-shadow(0 0 5px rgba(24, 10, 69, 0.451));
}

#envelope-icon {
    width: 1.5em;
    filter: drop-shadow(0 0 5px rgba(24, 10, 69, 0.451));
}

.back {
    width: 1.5em;
    filter: drop-shadow(0 0 5px rgba(24, 10, 69, 0.451));
}

#contact-back {
    transform: scale(-1, 1);
}

/* round buttons with links */
#links {
    display: grid;
    justify-content: center;
    /* push the footer down */
    margin-bottom: 1rem;
}

#links-container {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1.5em 0;
    width: 25rem;
}

.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.round-button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.3rem;
    transition: all 200ms;
}

.round-button:hover {
    border-radius: 30%;
    box-shadow: 0 0 30px rgba(180, 130, 167, 0.166);
    transform: scale(1.05);
}

#itch-button {
    background-image: linear-gradient(30deg, rgb(238, 32, 128), #fa5c5c);
}

#discord-button {
    background-image: linear-gradient(45deg, #5865F2, rgb(141, 65, 207));
}

#bluesky-button {
    background-image: linear-gradient(160deg, rgb(77, 65, 213), rgb(65, 183, 207));
}

#tumblr-button {
    background-image: linear-gradient(80deg, rgb(93, 70, 105), rgb(50, 26, 105));
}

.link-icon {
    width: 65%;
    fill: rgb(247, 217, 249);
}

#tumblr-icon {
    transform: scale(0.93);
}

#bsky-icon {
    transform: scale(0.94) translate(0, 4%);
}

p {
    font-size: calc(var(--text-size) * 1.1);
    margin: 0.2rem;
    color: rgb(172, 160, 177);
    font-family: Helvetica, sans-serif;
    font-weight: 100;
    text-align: center;
}

#footer {
    font-family: Helvetica, sans-serif;
    font-size: calc(var(--text-size) * 0.8);
    color: rgba(138, 129, 142, 0.314);
    margin-bottom: 1rem;
    text-decoration: none;
}

#footer:hover {
    text-decoration: underline;
    color: rgba(171, 159, 177, 0.514);
}

#glow {
    position: fixed;
    /* background image must be larger than the body so that it can move past it */
    width: 200vw;
    height: 200vh;
    background-image: radial-gradient(circle, rgb(33, 25, 47) 5%, transparent 30%);
    z-index: -1;
    overflow-x: hidden;
}

/* removed by js to let the user move the background */
.topleft {
    top: -50vh;
    left: -50vw;
}

/* header */
/* (its at the bottom of the file because i added it after everything else) */
header {
    font-size: calc(var(--text-size) * 0.85);
    width: 100%;
    padding: 0.5em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#headerpfp {
    height: 64px;
}

header nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#hamburger-icon {
    width: 3em;
}

/* for square-ish screens */
@media screen and (min-width: 800px) {

    :root {
        --text-size: 1rem;
    }

    .card,
    main {
        margin: 0 0 1rem 0;
        width: min(90%, 25rem);
        border-radius: 20px;
        border-top: none;
    }

    #titlecard {
        margin-top: 1rem;
    }

    #buttons {
        background-color: rgba(97, 54, 118, 0.164);
    }

    /* #links {
        padding-left: 10%;
        padding-right: 10%;
    } */
}

/* for wide screens */
@media screen and (min-width: 1300px) {
    :root {
        --text-size: 1.2rem;
    }

    .card,
    main {
        width: min(90%, 32rem);
    }
}